<nav> 
 <a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i><%= __('Vider') %></a>
 <a href='/chat'><i class="fas fa-comments" aria-hidden="true"></i>Clavardage</a>
 <a href='/'><i class="fa fa fa-users" aria-hidden="true"></i><%= __('Accueil') %></a>
 <a href='/adresse'><i class="fa fa-graduation-cap" aria-hidden="true"></i><%= __('Adresse') %></a>
 <a href='/peupler'><i class="fa fa-keyboard-o" aria-hidden="true"></i><%= __('Peupler') %></a>

 <% if(getLocale()=='fr') { %>
 	<a href='/en'>EN</a>
 <% } else { %>
 	<a href='/fr'>FR</a>
 <% } %>

</nav>